<div class="column">
  <div class="circle">
      <ul>
          <!-- <li *ngFor = "let itr of circles">
            {{itr.circleName}}
          </li> -->
          <li *ngFor="let itr of circles" (click)="selectCircle(itr.circleName)">
            {{itr.circleName}}
          </li>
        </ul>
      </div>
  </div>
  
  
  