.heading
{
text-align : left;
font-size : 30px;
font-family: Comic Sans MS  ;
}

.App
{
background-color: blanchedalmond;
}
*{
    box-sizing : border-box ;
    margin-top:   0px;
    margin-bottom: 0px;
    color : black;
    
}
.container
{
    height : 400px ;
    width : 100% ;
    margin: 0px ;
    padding : 0px ;
    font-size : 20px ;
    text-align: center ;    
    color : black ;
    font-family: 'Times New Roman ';   

}
.left
{     
    float: left;
    width: 15%;
    height: 400px;
    border: 1px solid black;
         

}

.right
{
    float: right;
    width: 15%;
    height: 400px;
    border: 1px solid black; 
    
}

.middle
{
    float: left;
    width: 70%;
    height: 400px;  
    border: 1px solid black; 
     
}
