<div class = "App">
  <div class ="heading"><marquee direction="leftright">{{desc}}</marquee>
  </div>
  
  
  
  <div class="container">
    <div class="left">
        <a routerLink = "user">User Information</a>
    </div>
  <div class="right">
      <a routerLink = "circle">Circle Information</a>
  </div>
  <div class="middle">
      <a routerLink = "message">Message</a>
  </div>
  <router-outlet></router-outlet>
  </div>
  </div>



 
  <!-- <div class="heading">
    <h1>{{title}}{{desc}}</h1>
  </div>

    <div class="form-label">
      <label for="name">Username</label>
      <input type="text" placeholder="Enter username" [(ngModel)]="name">
      <p>Username is : {{name}}</p>
      <button (click)="resetUsername()">Reset</button>
    </div>

    <div class="loop"> 

    <div class="forLoop">
      <h4>ngFor Loop</h4>
      <ul>
    <li *ngFor="let itr of people">
      {{itr.name}} -- {{itr.age}}
    </li>
    </ul>    
    </div>
     
<div class="ifLoop">
  <h4>ngIf Loop</h4>
  <ul *ngFor="let itr of people">
    <li *ngIf="itr.age > 20">
      {{itr.name}}
    </li>
  </ul>
</div>

<div class="switchLoop">
  <h4>ngSwitch Loop</h4>
  <ul *ngFor="let itr of people; let i = index" [ngSwitch]="itr.age">
    <li *ngSwitchCase="15">{{itr.name}}--{{itr.age}}
    </li>
    <li *ngSwitchDefault>{{itr.name}}
      </li>
  </ul>
</div>

<div class="styl">
  <h4>Style</h4>
  <ul *ngFor="let itr of people">
    <li [ngStyle]="{'color':getColor(itr.age)}">
      {{itr.name}}
    </li>
  </ul>
</div>
  </div>

  <div class="eventBind">
    Languages :
    <select>
      <option *ngFor="let itr of language">
        {{itr}}
      </option>
    </select>
  </div> -->
