<div class="column">
  <div class="mess">
      <ul>
          <!-- <li *ngFor = "let itr of messages">
            {{itr.message}}
          </li> -->
          <li *ngFor="let itr of messages" (click)="selectMessage(itr.message)">
            {{itr.message}}
          </li>
        </ul>
      </div>
  </div>
  

