
.column
{    
    font-size : 15px;    
}
.user ul
{
list-style-type: square;
position: absolute;
top : 150px;
left : 10px;
}
.user li
{
float : middle ;
padding: 10px;
margin-bottom : 10px;
background-color: lightgray ;
color : black ; 
}
.user li:hover
{
    background-color: lightgreen ;
}